(cloudflare) {
	tls {
		dns cloudflare VYbrYjQXUABu9aPL27ATM0DRk7BRtyLdrPGbrivT
	}
}

# Pihole
pihole.app.nathancorral.com {
	reverse_proxy * http://100.89.171.65
	import cloudflare
}

# Stirling PDF
pdf.app.nathancorral.com {
	reverse_proxy * http://100.67.56.96:8080
	import cloudflare
}

# Jellyfin
jellyfin.app.nathancorral.com {
	reverse_proxy * http://100.108.10.10:8096
	import cloudflare
}

# Immich
immich.app.nathancorral.com {
	reverse_proxy * http://100.119.94.1:2283
	import cloudflare
}

# Flatnote
flatnote.app.nathancorral.com {
	reverse_proxy * http://100.127.239.42:8080
	import cloudflare
}
flatnotes.app.nathancorral.com {
	reverse_proxy * http://100.127.239.42:8080
	import cloudflare
}

# Karakeep
karakeep.app.nathancorral.com {
	reverse_proxy * http://100.66.31.60:3000
	import cloudflare
}

# Pingvin
pingvin.app.nathancorral.com {
	reverse_proxy * http://100.110.44.23:3000
	import cloudflare
}
share.app.nathancorral.com {
	reverse_proxy * http://100.110.44.23:3000
	import cloudflare
}

# Vaultwarden
vaultwarden.app.nathancorral.com {
	reverse_proxy * http://100.90.17.87
	import cloudflare
}
bitwarden.app.nathancorral.com {
	reverse_proxy * http://100.90.17.87:80
	import cloudflare
}

# Paperless
paperless.app.nathancorral.com {
	reverse_proxy * http://100.103.100.81:8000
	import cloudflare
}

# Searxing -- todo
searxing.app.nathancorral.com {
	reverse_proxy * http://100.67.76.66:8080
	import cloudflare
}
search.app.nathancorral.com {
	reverse_proxy * http://100.67.76.66:8080
	import cloudflare
}

# Actual Budget
budget.app.nathancorral.com {
	reverse_proxy * http://100.65.195.13:5006
	import cloudflare
}
actual-budget.app.nathancorral.com {
	reverse_proxy * http://100.65.195.13:5006
	import cloudflare
}

# ConvertX
convert.app.nathancorral.com {
	reverse_proxy * http://100.76.183.17:3000
	import cloudflare
}
convertx.app.nathancorral.com {
	reverse_proxy * http://100.76.183.17:3000
	import cloudflare
}

# Mealie
mealie.app.nathancorral.com {
	reverse_proxy * http://100.111.20.125:9000
	import cloudflare
}

# Nextcloud todo
#nextcloud.app.nathancorral.com {
#	reverse_proxy * http://100.82.213.64:11000
#	import cloudflare
#}

#100.127.172.127 {
#	reverse_proxy /pdf/* http://100.115.98.54:8080
#	root * /usr/share/caddy
#	file_server
#}
