(cloudflare) {
	tls {
		dns cloudflare VYbrYjQXUABu9aPL27ATM0DRk7BRtyLdrPGbrivT
	}
}

pihole.app.nathancorral.com {
	reverse_proxy * http://100.89.171.65
	import cloudflare
}

pdf.app.nathancorral.com {
	reverse_proxy * http://100.98.65.42:8080
	import cloudflare
}

jellyfin.app.nathancorral.com {
	reverse_proxy * http://100.108.10.10:8096
	import cloudflare
}

immich.app.nathancorral.com {
	reverse_proxy * http://100.79.216.122:2283
	import cloudflare
}

flatnote.app.nathancorral.com {
	reverse_proxy * http://100.95.178.24:8080
	import cloudflare
}

flatnotes.app.nathancorral.com {
	reverse_proxy * http://100.95.178.24:8080
	import cloudflare
}

karakeep.app.nathancorral.com {
	reverse_proxy * http://100.120.218.28:3000
	import cloudflare
}

pingvin.app.nathancorral.com {
	reverse_proxy * http://100.88.177.65:3000
	import cloudflare
}

share.app.nathancorral.com {
	reverse_proxy * http://100.88.177.65:3000
	import cloudflare
}

vaultwarden.app.nathancorral.com {
	reverse_proxy * http://100.71.98.19:80
	import cloudflare
}

bitwarden.app.nathancorral.com {
	reverse_proxy * http://100.71.98.19:80
	import cloudflare
}

paperless.app.nathancorral.com {
	reverse_proxy * http://100.86.137.22:8000
	import cloudflare
}

searxing.app.nathancorral.com {
	reverse_proxy * http://100.67.76.66:8080
	import cloudflare
}

search.app.nathancorral.com {
	reverse_proxy * http://100.67.76.66:8080
	import cloudflare
}

budget.app.nathancorral.com {
	reverse_proxy * http://100.116.235.123:5006
	import cloudflare
}
actual-budget.app.nathancorral.com {
	reverse_proxy * http://100.116.235.123:5006
	import cloudflare
}

#nextcloud.app.nathancorral.com {
#	reverse_proxy * http://100.82.213.64:11000
#	import cloudflare
#}

#100.127.172.127 {
#	reverse_proxy /pdf/* http://100.115.98.54:8080
#	root * /usr/share/caddy
#	file_server
#}
